@media screen and (max-width: 991.9px) {
  .opportunities__img {
    /* display: none; */
    z-index: 1;
    /* position: absolute;
    bottom: 0;
    right: 0; */
    /* display: flex; */
    /* margin: 180px -12px 0; */
    object-fit: cover;
    flex: 0 0 50%;
  }

  .opportunities__img-settings {
    max-width: 100%;
  }
}