* {
  font-family: 'Montserrat', sans-serif;

}


:root {
  --main-font: 'Montserrat', sans-serif;
  --text-color: #252B42;
  --second-text-color: #737373;
  --third-text-color: #96BB7C;
  --light-text-color: #FFFFFF;
  --main-background-color: #FFFFFF;
  --button-background-color: #96BB7C;
  --devider-background-color: #E74040;
}

body {
  max-width: 1440px;
  /* overflow: hidden; */
}

/* .wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
} */

/* ------------------------------------------------------------------------ */

header {
  background-color: #FFF2F3;
  flex: 0 1 100%
}

.main__menu {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 91px;
  margin: 0 auto;
}

.header__logo {
  justify-content: start;
  margin-right: 41px;
  margin-left: 15px;
}

.header__navigation {
  position: relative;

  /* margin-left: 41px; */
  margin-right: auto;
  display: flex;
  column-gap: 21px;
}

.naigation__item {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}

.registration__buttons {
  position: relative;
  margin-right: 0;
  display: flex;
  justify-content: end;
  margin-left: 0;
  align-items: center;
  column-gap: 45px;
}

.button__one {
  margin-left: 40px;
  color: var(--button-background-color);
}

.button__two {

  width: 138px;
  height: 52px;

  margin-right: 15px;
}

.button__two::after {
  content: url('img/button-arrow.png');
  margin-left: 15px;
}

.button__two:hover::after {
  content: url('img/right-arrow.png');
  margin-left: 15px;
  position: relative;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__one .button__two {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: var(--button-background-color);
  color: var(--light-text-color);
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.button:hover {
  background-color: var(--light-text-color);
  color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  font-weight: 600;
}

/* ------------------------------------------------------------------------ */



.opportunities {
  position: relative;
  background-color: #FFF2F3;
}

.opportunities__wrapper {
  padding: 0 15px;
  max-width: 1200px;
  flex: 0 1 100%;
  margin: 0 auto;
  height: 682px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opportunities__offer {
  z-index: 1000;
  row-gap: 30px;
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  max-width: 573px;
  /* padding-left: 132px; */
}

.h5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: var(--button-background-color);
}

.h1 {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: var(--text-color);
}

.h4 {
  max-width: 338px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: var(--second-text-color);
}

.opportunities__buttons {
  display: flex;
  align-items: center;
  justify-content: start;
}

.opportunities__buttons-one {
  width: 135px;
  height: 52px;
  margin-right: 10px;
}

.opportunities__buttons-two {
  width: 165px;
  height: 52px;
}

.opportunities__img {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  /* margin: 180px -12px 0; */
  flex: 0 0 50%;
}

.opportunities__img-settings {
  max-width: 100%;
}

/* ------------------------------------------------------------------------ */
.packages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 671px;
  max-width: 1200px;
}

.packages__text-part {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  /* justify-content: start; */
  flex: 0 1 50%;
}

.packages__devider {
  width: 94px;
  height: 7px;
  background-color: var(--devider-background-color);
}

.packages__description {
  font-size: 14px;
  line-height: 20px;
  color: var(--second-text-color);
}

.packages__button {
  text-decoration: none;
  background-color: #fff;
  display: flex;
  color: var(--button-background-color);
  font-size: 14px;
  line-height: 24px;
}

.packages__button::after {
  content: url(img/packages__arrow-next.png);
  margin-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: 3px;
}

.packages__cards {
  display: flex;
  align-items: center;
  flex: 0 0 50%;
}

.packages__card {
  width: 249px;
  height: 292px;
  background-color: #fff;
  box-shadow: 5px 5px 20px lightgray;
  display: flex;
  justify-content: start;
  flex-direction: column;
  row-gap: 20px;
  padding: 35px 40px;
  margin-right: 15px;
}

.packages__card-devider {
  width: 50px;
  height: 2px;
  background-color: var(--devider-background-color);
}

.paragrapf {
  font-size: 14px;
  line-height: 20px;
  color: var(--second-text-color);
}